# Database files
db.sqlite3
src/db.sqlite3
container.db.sqlite3

# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
.venv
env/
venv/
.env

# Static files
src/staticfiles/
media/src/static
src/static/admin/
src/static/bootstrap/

# System files
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db

# Django
*.log
local_settings.py

# Test coverage
src/functional_tests/screendumps

# Node modules
node_modules/

# Compiled/cached static files
src/evalhub/static/CACHE/

# CSS source maps
*.css.mapsrc/evalhub/staticfiles/CACHE/
src/evalhub/staticfiles/
*.css.map
