{% load compress %}
{% load static %}
<!DOCTYPE html>
<html lang="en" data-bs-theme="dark">
  <head>
    <title>EvalHub</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    {% compress css %}
    <link type="text/x-scss" href="{% static 'scss/custom.scss' %}" rel="stylesheet" media="screen">
    {% endcompress %}
    <link rel="icon" href="data:,"></link>
  </head>

  <body>
    <div class="container">
      <nav class="navbar">
        <div class="container-fluid">
          <a class="navbar-brand" href="/">EvalHub</a>
        </div>
      </nav>

      <div class="row justify-content-center p-5 bg-body-tertiary rounded-3">
        <div class="col-lg-6 text-center">
          <h1 class="display-1 mb-4">{% block header_text %}{% endblock %}</h1>
          {% block content %}{% endblock %}
        </div>
      </div>
    </div>

    <script src="https://unpkg.com/htmx.org@1.9.10"></script>
  </body>
</html>