@import 'variables';

// Headers use Roboto Slab
h1, h2, h3, h4, h5, h6 {
  font-family: $font-headers !important;
  font-weight: $font-weight-bold !important;
}

// Body text uses Source Sans Pro
body {
  font-family: $font-body !important;
}