{% extends 'base.html' %}

{% block header_text %}Start a New Survey{% endblock %}

{% block content %}
<form method="POST" action="{% url 'new_survey' %}">
  {% csrf_token %}
  <!-- Survey name input -->
  <input 
    id="id_survey_name"
    name="survey_name"
    class="form-control form-control-lg mb-3"
    placeholder="Enter a name for your survey"
    required
  />
  <!-- Question input -->
  {% include "includes/form_input.html" with form=form aria_describedby="id_text_feedback" %}
  <!-- Hidden submit so Enter key works -->
  <button type="submit" style="display: none;"></button>
</form>
{% endblock %}